NODE_ENV=development
CHAT_SERVICE_PORT=4000
MONGO_URL=mongodb://root:password@localhost:27017/chatapp_chat_service?authSource=admin
REDIS_URL=redis://localhost:6379
RABBITMQ_URL=amqp://guest:guest@localhost:5672
INTERNAL_API_TOKEN=supersecret_internal_token_12345
JWT_SECRET=supersecret_jwt_key_that_is_at_least_32_chars_long
